
@font-face {
    font-family: DemonBlade;
    src: url('./Demon\ Blade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Arial', Helvetica, sans-serif;
  margin: 0;
}

.global {
  padding: 10px 30px;
  min-height: 100vh;
  padding-bottom: 100px;
}

h1 {
  font-family: 'DemonBlade';
  font-size: 10vw;
  font-weight: 400;
  margin: 0;
  line-height: 1;
  pointer-events: none;
}

h1 span {
  display: inline-block;
  cursor: cell;
  visibility: hidden;
}
h1.loaded span {
  pointer-events: auto;
  transition: transform .4s cubic-bezier(0.68, -0.55, 0.265, 1.55), color .3s ease;
}
h1 span:hover {
  transform: translate(0px, 10px) !important;
}

.contenido-descripcion {
  visibility: hidden;
}

.expositor {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .expositor {
    justify-content: center;
  }
}

:root {
  --card-width: 300px;
  --card-height: 420px;
}

.flip-card-holder, .flip-card  {
  width: var(--card-width);
  height: var(--card-height);
}

.flip-card-mover {
  transition: all .8s;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.flip-card-mover.selected {
  transform: scale(1.5);
}

.expositor.blur-cards .flip-card-mover:not(.selected) {
  filter: blur(4px);
  pointer-events: none;
}

.flip-card-desc-cnt {
  pointer-events: none;
  background-color: transparent;
  opacity: 0;
  width: 25vw;
  max-width: 25vw;
  height: 100%;
  max-height: 360px;
  position: absolute;
  top: 0; left: 0;
  border-radius: 10px;
  padding: 30px 30px 30px calc(var(--card-width) + 30px);
  transition: all .8s;
  color: transparent;
}
.flip-card-mover.selected .flip-card-desc-cnt {
  pointer-events: inherit;
  background-color: #7e424266;
  opacity: 1;
  
  color: black
}

.flip-card-desc-cnt h3 {
  margin: 0;
}
.card-type {
  font-size: 15px;
  font-weight: 400;
}

.flip-card-info {
  margin-top: 15px;
}
.flip-card-info h4 {
  margin-bottom: 10px;
}
.flip-card-info ul {
  padding-left: 20px;
}

.keywords-cnt {
  margin-top: 15px;
}
.keyword-desc {
  font-size: 14px;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  cursor: pointer;
  visibility: hidden;
}

.flip-card-mover.selected .flip-card {
  cursor: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s, box-shadow 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 8px 12px 0 rgb(0 0 0 / 40%);
  border-radius: 10px;
}

.flip-card.turn .flip-card-inner {
  transform: rotateY(180deg);
}

@media screen and (min-width: 601px) {
  .flip-card-mover:not(.selected):hover .flip-card .flip-card-inner {
    transform: scale(.98);
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 30%);
  }
  .flip-card-mover:not(.selected):hover .flip-card.turn .flip-card-inner {
    transform: rotateY(180deg) scale(.98);
  }
}

.flip-card-front, .flip-card-back {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.flip-card-front img, .flip-card-back img {
  /* border-radius: 10px;
  overflow: hidden; */
  transform: scale(1.05);
  object-fit: cover;
}

.flip-card-front {
}

.flip-card-back {
  transform: rotateY(180deg);
}



:root {
  --mouse-color: rgb(45, 45, 45);
  --mouse-click-color: rgb(210, 47, 47);
}

.instrucciones {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
}

.instruccion {
  display: flex;
  gap: 10px;
  align-items: center;
}

.mouse {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 15px;
  height: 20px;
  gap: 1px;
}
.mouse-down, .mouse-left, .mouse-right {
  background-color: var(--mouse-color);
}
.mouse-up {
  width: 100%;
  height: 35%;
  display: flex;
  gap: 1px;
}
.mouse-down {
  width: 100%;
  height: 65%;
  border-radius: 0 0 8px 8px;
}
.mouse-left, .mouse-right {
  width: 100%;
  height: 100%;
}

.mouse-left {
  border-radius: 8px 0 0 0;
}
.mouse-right {
  border-radius: 0 8px 0 0;
}

.mouse.left-click-anim .mouse-left {
  animation: leftClick 2s linear infinite;
}
.mouse.right-click-anim .mouse-right {
  animation: rightClick 2s linear infinite;
}

@keyframes leftClick {
  0% {background-color: var(--mouse-color);}
  1% {background-color: var(--mouse-click-color);}
  50% {background-color: var(--mouse-click-color);}
  51% {background-color: var(--mouse-color);}
}
@keyframes rightClick {
  0% {background-color: var(--mouse-color);}
  1% {background-color: var(--mouse-click-color);}
  50% {background-color: var(--mouse-click-color);}
  51% {background-color: var(--mouse-color);}
}